@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?e1jcdo');
  src:  url('../fonts/icomoon.eot?e1jcdo#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?e1jcdo') format('truetype'),
  url('../fonts/icomoon.woff?e1jcdo') format('woff'),
  url('../fonts/icomoon.svg?e1jcdo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"]:before, [class*=" icon-"]:before, [class^="icon-"]:after, [class*=" icon-"]:after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow:before {
  content: "\e906";
}

.icon-prev:after {
  content: "\e901";
}
.icon-next:after {
  content: "\e900";
}
.icon-arrow_up:before {
  content: "\e903";
}
.icon-cross:before {
  content: "\e905";
}
.icon-od:before {
  content: "\e904";
}
.icon-vk:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e986";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-arrow-right:before {
  content: "\ea3c";
}

.icon{
 span{
   font-size: 0em !important;
   color: transparent;
 }
}