

// Default global colors
$bgWhite: #fff;
$bgGrey: #f6f6f6;
$bgDarkRed: #b10000;
$colortext: #3d3d3d;
$colorLink: #e60000;
$fontNav: .875em;


// Widths
$minWidth: 320px;
$maxWidth: 1366px;

// Breakpoints

$tablet: 950;
$mobile: 640;

// Fonts
$family: 'PT Sans', Helvetica, sans-serif;
$_16px: 0.875em;

//Images
$fonturl : '/dependencies/fonts';
$imgurl : '/dependencies/images';