#language {
  .language-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: $bgDarkRed;
    display: none;
    z-index: 1;
    a {
      padding: .875em 2em;
      text-align: center;
      &:hover {
        background: $colorLink;
      }
    }
  }
}