//my styles
.main-banner {
  position: absolute;
  height: 100%;
  width: 100%;
}

.slick-track, .slick-list, .slick-slide {
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: 50% 50%;
}

.icon-next, .icon-prev {
  position: absolute;
  width: 47px;
  height: 47px;
  right: 145px;
  bottom: -23px;
  border-radius: 50%;
  background: #e60000;
  z-index: 2;
  font-size: 0em;
  @include bp(950){
    width: 85px;
    height: 85px;
    bottom: -43px;
    right: 195px;
  }
  @include anim-param($param: background, $param: border);
  &:hover{
    background: rgba( 0,0,0,0.5);
    border: none;
  }

  &:after{
    position: absolute;
    display: block;
    color: white;
    font-size: 30px;
    z-index: 100;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    @include bp(950){
      font-size: 45px;
    }

  }
}
.slick-next {
  right: 90px;
  &:after{
    left: 54%;
  }
}



/* Slider */

.slick-slider {
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  float: left;
  height: 100%;



  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-arrow.slick-hidden {
  display: none;
}
