{% extends '../_layout.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block main %}
    <div class="main-banner">
       {% for slide in slider %}
            <a class="slide" href="{{ slide.url }}" style="background-image: url(./images/{{ slide.image }});"></a>
        {% endfor %}
    </div>
{% endblock %}
 {% block footer %}
     {% include '../modules/_footer-homepage.twig'%}
 {% endblock %}