#site-header {
  background: $colorLink;
  height: 100%;
  .header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    .header-logo {
      align-items: center;
      padding: 0 2.6875em 0 0;
      display: flex;
      @include bp(1140){
        padding: 0;
        width: 16%;
      }
    }
    .navigation-box {
      display: flex;
      align-items: center;

      .header-navigation {
        &__item {
          display: inline-block;
          position: relative;

        }
        &__link {
          display: block;
          color: #ffffff;
          padding: 2.1875em 1.25em;
          @include bp(1070){
            padding: 2em 0.8em;
          }
          &:hover {
            text-shadow: 0 -0.3px 1px rgba(255, 255, 255, 1);
            box-sizing: border-box;
          }
        }
      }
    }
    .info {
      display: flex;
      align-items: stretch;
      .vk-header {
        align-self: center;
        padding: 0 1.375em 0 1em;
        a {
          color: white;
          display: inline-block;
          font-size: 1.5em;
        }
      }
      .header-phone {
        align-self: stretch;
        position: relative;
        display: flex;
        a {
          align-self: center;
          color: #ffffff;
          .phone__number {
            font-size: 1.3215em;
            position: relative;
            @include bp(1070){
              font-size: 1.2em;
            }
          }
          .phone__text {
            font-size: 0.9em;
            white-space: nowrap;
            @include bp(1070){
              font-size: 0.8em;
            }
          }
        }
      }
      #language {
        margin: 0 0 0 4em;
        display: flex;
        align-items: center;
        color: $bgWhite;
        position: relative;
        @include bp(1100){
          margin: 0 0 0 2em;
        }
        .language-box {
          display: block;
        }
        a {
          color: $bgWhite;
        }
      }
      .icon-arrow {
        cursor: pointer;
        position: absolute;
        top: 60%;
        left: 100%;
        transform: translateY(-50%);
        font-size: 1.5em;
        -webkit-backface-visibility: hidden;
        @include anim($param: transform);
        transform-origin: 50% 40%;
      }
      .lang-button{
        top: 55%;
      }
      .active_arrow {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
}
